#mission {
    padding: 10px;
    margin-bottom: 50px;
    margin-width: 100px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    background-color: antiquewhite;
}

#values {
    padding: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    margin-width: 100px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    background-color: aqua;
}

#about-wrapper {
    displya: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 40px;
    background-color: blueviolet;
}

.about-image {
    flex: 1;
}

.about-image img {
    max-width: 100%;
    height: auto;
    width: 50;
}


.about-text {
    flex: 2;
    line-height: 1.6;
    width: 50;
}